* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quattrocento", Helvetica;
}

.navbar {
  background: #fafaff;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid black;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 0;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: #fafaff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-family: "Ibarra Real Nova", Helvetica;
  font-size: 36px;
  font-weight: 600;
  color: black;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 90px;
}

.navbar__links {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  transition: font-weight 0.2s ease;
}

.navbar__links:hover {
  font-weight: 700;
}

.navbar__links.active {
  font-weight: bold;
}

/* Hero Section CSS */
.main {
  background-image: url("img/landing-page-photo.jpg");
  background-color: #fafaff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__container {
  text-align: center;
  color: #fafaff;
  padding: 0 20px;
  max-width: 1000px;
}

.connect__btn {
  display: inline-block;
  margin-top: 250px;
  background-color: #fafaffc1;
  color: black;
  padding: 10px 24px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.connect__btn:hover {
  background-color: transparent;
  color: #fafaff;
  border: 1px solid #fafaff;
  border-color: #fafaff;
  transform: scale(1.02);
  cursor: pointer;
}

.profile__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/* Profile Section Layout */
.profile__section {
  background-color: #fafaff;
  padding: 60px;
}

.profile__container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  max-width: 1300px;
  margin: 0 auto;
  gap: 60px;
  flex-wrap: nowrap;
}

.profile__image img {
  position: relative;
  max-width: 500px;
  flex-shrink: 0;
  margin-left: 50px;
}

.profile__text {
  max-width: 700px;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  right: -40px;
  z-index: 2;
  margin-right: 70px;
}

.profile__heading {
  font-size: 50px;
  font-family: "Quattrocento", Helvetica;
  font-weight: 400;
  color: black;
  letter-spacing: 0.5px;
}

.wta__link {
  font-weight: bold;
  color: black;
  text-decoration: underline;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.wta__link:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* Social Icons */
.social__icons {
  display: flex;
  gap: 15px;
  margin-left: auto;
  justify-content: flex-end;
  margin-right: 15px;
}

.social__icons img {
  width: 28px;
  height: 28px;
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.social__icons img:hover {
  opacity: 0.5;
  transform: scale(1.02);
  cursor: pointer;
}

/* Footer Layout */
.footer {
  background-color: #272733;
  padding: 10px 20px;
  border-top: 1px solid #ccc;
}

.footer__container {
  max-width: 1300px;
  margin: 0 auto;
  text-align: left;
}

.footer__social {
  display: flex;
  justify-content: left;
  gap: 15px;
  margin-bottom: 15px;
  padding-top: 20px;
  padding-left: 20px;
}

.footer__social img {
  width: 20px;
  height: 20px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  opacity: 0.7;
}

.footer__social img:hover {
  opacity: 1.0;
  transform: scale(1.02)
}

.footer__text {
  font-size: 14px;
  color: white;
  margin: 10px 0;
  padding: 10px;
}



/* Tennis Gallery Layout */
.tennis__gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 60px 40px 20px;
  flex-wrap: wrap;
  background-color: #fafaff;
}

.tennis__gallery img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 1px;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
}

/* Tennis Bio Section */
body {
  background-color: #fafaff;
  margin:0;
  padding: 0;
}

.tennis__title {
  background-color: #fafaff;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: 5px;
  margin-left: 40px;
  margin-top: 20px;
} 

.tennis__bio {
  background-color: #fafaff;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  margin-left: 40px;
  margin-right: 300px;
  margin-bottom: 20px;
}

.tennis__divider {
  width: 100px;
  height: 1px;
  background-color: black;
  margin: 20px 40px;
}

/* Sponsor Section */
.sponsors__section {
  padding: 20px 40px;
  background-color: #fafaff;;
  text-align: center;
}

.sponsors__title {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 40px;
  font-family:"Karla", sans-serif;
}

.sponsors__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 20px;
  gap: 40px;
}

.sponsor__item {
  flex: 1 1 200px;
  max-width: 300px;
  text-align: center;
}

.sponsor__item img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 40px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.sponsor__item img:hover {
  opacity: 0.7;
  transform: scale(1.02)
}

.sponsor__item p {
  font-family: "Quattrocento", Helvetica;
  font-size: 15px;
  line-height: 1.4;
  color: #000;
  margin-bottom: 40px;
}

/* Action Images */
.action__section {
  padding: 40px 20px;
  background-color: #fafaff;
  color: #111;
  text-align: center;
}

.in-action-title {
  font-size: 23px;
  margin-bottom: 30px;
  font-family:"Karla", sans-serif;
}

.action__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;;
}

.action__item {
  text-align: center;
}

.action__item img {
  width: 100%;
  height: 450px;
  object-fit:  cover;
  margin-bottom: 10px;
  filter:grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.action__item img:hover {
  transform: scale(1.01);
  filter: grayscale(0%);
}

.action__item {
  font-size: 14px;
  color: #444;
}

/* Music Section Layout */
body .music-page {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  opacity: 0;
  transition: background-color 1s ease, color 1s ease, opacity 1s ease;
}

body.music-page.loaded  {
  opacity: 1;
}

.music-page .navbar {
  background-color: #1A1A1A;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid #fafaff;
}

.music-page #navbar__logo {
  color: white;
  background-color: transparent;
}

.music-page .navbar__links {
  color: white;
  transition: all 0.3s ease;
}

.music-page .music__content {
  background-color: #1A1A1A;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.music-page  .composition__container {
  padding-left: 60px;
  padding-top: 20px;
  padding-right: 60px;
}

.music-page .music__headshot img {
  max-width: 300px;
  height: auto;
  border: 1px solid #efd7be;
  object-fit: cover;
}

.music-page .music__compositions {
  font-family: "Karla", sans-serif;
  font-size: 23px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  color: white;
}

.music-page .composition__song {
  cursor: pointer;
  font-family: "Quattrocento", Helvetica;
  font-size: 16px;
  margin-bottom: 15px;
  color: white;
}

.music-page .composition__song:hover {
  color: #cccccc;
  font-weight: bold;
}

.music-page .composition__song.playing {
  color: #ffd147;
}

.music-page .original__scores {
  font-family: "Karla", sans-serif;
  font-size: 23px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-top: 60px;
  color: white;
}

.music-page .music__video {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.citizen-kane-description {
  color: white;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  max-width: 560;
  line-height: 1.4;
}

/* Contact page layout */
body .contact-page {
  background-color: #fafaff;
  padding: 80px 40px;
  min-height: 100vh;
  display: flex; 
  margin: 0;
  flex-direction: column;
}

.contact-page .contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0;
  background-color: #fafaff;
}

.contact-page .contact__image img {
  width: 350px;
  height: auto;
  object-fit: cover;
  border-radius: 2px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.contact-page .contact__info {
  max-width: 500px;
  font-family:  "Quattrocento", Helvetica;
  font-size: 16px;
  color: black;
  text-align: center;
  line-height: 1.6;
  padding-bottom: 20px;
}

.contact-page .contact__info a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.contact-page .contact__socials {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.contact-page .contact__socials img {
  width: 20px;
  height: 20px;
  transition: opacity 0.3s ease;
}

.contact-page .contact__socials img:hover {
  opacity: 0.6;
}



